.fulltext {
	
	width:98% !important;
	max-width:$smallcontent;
	margin:0 auto;
	.wcp-column {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		
		
		
	}
}