/* Desktop Version */
$DeskNavLink : #FFF;
$DeskNavLinkHover : yellow;
$dropdownbackground : orange;

/* Mobile Version */
$mobilebreakpoint : 850px;
$overlaynavcolor : blue;
$MobileNavLink : #FFF;
$MobileNavLinkHover : yellow;
$MobileMenuOpen : #FFF;
$MobileMenuOpenHover : yellow;
$MobileMenuClose : #FFF;
$MobileMenuCloseHover : yellow;
$innerULborder : rgba(255,255,255,0.7);



header {
	top:0;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	z-index: 7000;

		.menuclose {
			//display:none;
			position:absolute;
			z-index:6000;
			right:20px;
			top:20px;
			color:#000;
			font-size:35px;
			
			&:hover {
				color: $pink;
			}
		}
		
		#menu-toggle { 
			//display: none; 
		}
		.menuopen {
			position:absolute;
			z-index:6000;
			right:20px;
			top:20px;
			color:#000;
			font-size:35px;
			
			&:hover {
				color: $pink;
			}
		}
		.advert {
			display:none;
		}

		.navigation-menu {
			position:absolute;
			display:none;
			.navlist  {
				
			}
			
			.socialnav {
				position:absolute;
				bottom:20px;
				left:0;
				width:100%;
				background-color:pink;
				padding:0;
				margin:0;
				
				li {
					background-color:orange;
					width:100%;
					padding:0;
					margin:0 ;
					list-style:none;
					text-align:center;
					line-height:auto;
					
					
					&.title {
						font-family: 'Artifact';
						  font-weight: normal;
						  font-style: normal;
						  font-weight: 300;
						  font-size:35px;
						  line-height:40px;
						  color:$pink;
						  margin:0 0 30px;
					}
					
					i {color:inherit;
						font-size:25px;
						margin:0 10px;
					}
					
				}
			}
		}
		
		#menu-toggle:checked + .navigation-menu {
			position:absolute;
			top:0;
			left:0;
			bottom:0;
			width:100%;
			background-color:red;
			display:block;
			
			
			@media only screen and (min-width:600px) {
				width:300px;
				background-color:green;
			}
		
  		}
	
		
}




/* 
#menu-toggle:checked + .main-navigation { }

Desktop Version */

